*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url('eagle.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
    font-size: 20px;
	font-weight: bolder;
    letter-spacing: 8px;
}

ul{
    list-style-type: none;
    position: sticky;
    top: 0;
}
li{
    float: left;
}
ul li a{
    background-color:goldenrod ;
    color: rgba(0, 0, 0, 0.466);
	font-weight: bolder;


}
li a:hover{
    cursor: pointer;
}

/* To highlight the current active tab*/
.active{
    background-color: rgb(128, 166, 152);
    color:#24565a;
    border-radius: 1px;
}

.right-content{
    float: right;
}
@media screen and (max-width:600px) {
    li,ul > li{
        float: none;
    }
}
li a, .dropbtn{
    width: 13em;

    display: inline-block;
    color: #000000;
    padding: 14px 16px;    
    text-decoration: none;
}
/*to be deleted*/
li a:hover, .dropdown:hover .dropbtn {
    border: 2px solid goldenrod ;
    border-radius: 3px;
    color: aliceblue;

}


li.dropdown{
    position: relative;
}
/*content inside the dropdown btn*/
.dropdown-content{
    display: none;/*removes the content from direct display*/
    width: 13em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
}
.dropdown-content a{
    background-color: black;
    color: goldenrod;
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    text-align: left;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropbtn{
    color:black;
    font-weight: 900;
    border-radius: 3px;
} 
.right-content:hover{
    background-color: rgb(130, 99, 134);
    color: goldenrod;
}